{
  "extends": "eslint-config-mourner",
  "globals": {
    "L": true
  },
  "rules": {
    "space-before-function-paren": [ 2, "always" ],
    "semi": [ 2, "never" ],
    "prefer-arrow-callback": 0
  },
}